<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yannyao.blog.mapper.ArticleMapper">
    <resultMap id="ArticleMap" type="com.yannyao.blog.bean.Article">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="content" property="content"/>
        <result column="admin_id" property="adminId"/>
        <result column="image" property="image"/>
        <result column="content" property="content"/>
        <result column="click" property="click"/>
        <result column="like" property="like"/>
        <result column="dislike" property="dislike"/>
        <result column="comment_count" property="commentCount"/>
        <result column="class" property="clazz"/>
        <result column="commend" property="commend"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="getAll"  resultMap="ArticleMap">
        SELECT * FROM `article` a
    </select>

    <select id="getList" resultMap="ArticleMap">
        SELECT * FROM `article` a
        LIMIT #{offset},#{limit}
    </select>
    <select id="getById"  resultMap="ArticleMap">
        SELECT * FROM `article` u WHERE `id` = #{_parameter}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.yannyao.blog.bean.Article">
        INSERT INTO `article` (`title`,`description`,`content`,`admin_id`,`image`)
        VALUES (#{title},#{description},#{content},#{adminId},#{image})
    </insert>
    <update id="delete">
        UPDATE `article` SET `status` = 3
        where `id` = #{_parameter}
    </update>
    <update id="update" parameterType="com.yannyao.blog.bean.Article">
        UPDATE `article`
        <set>
            <if test="title != null">
                `title` = #{title},
            </if>
            <if test="description != null">
                `description` = #{description},
            </if>
            <if test="content != null">
                `content`=#{content},
            </if>
            <if test="adminId != null">
                `admin_id` = #{adminId},
            </if>
            <if test="image != null">
                `image` = #{image}
            </if>
        </set>
        where `id`=#{id}
    </update>
</mapper>