<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yannyao.blog.mapper.ArticleMapper">
    <resultMap id="ArticleMap" type="com.yannyao.blog.bean.Article">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="admin_id" property="adminId"/>
        <result column="image" property="image"/>
        <result column="content" property="content"/>
        <result column="click" property="click"/>
        <result column="like" property="like"/>
        <result column="dislike" property="dislike"/>
        <result column="comment_count" property="commentCount"/>
        <result column="class" property="clazz"/>
        <result column="commend" property="commend"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="getList"  resultMap="ArticleMap">
        SELECT * FROM `article` a
    </select>
</mapper>