<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yannyao.blog.mapper.TagMapper">
    <resultMap id="TagMap" type="com.yannyao.blog.bean.ArticleTag">
        <id column="id" property="id"/>
        <result column="tag_name" property="tagName"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="getList"  resultMap="TagMap">
        SELECT * FROM `article_tag` a
        WHERE `status` = 0
    </select>
    <!--todo-->
    <select id="getListByArticleId"  resultMap="TagMap">
        SELECT t.*,r.`article_id` FROM `article_tag` t
        LEFT JOIN `article_article_tag` r ON r.`tag_id` = t.`id`
        WHERE `article_id` = #{_parameter}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.yannyao.blog.bean.ArticleClass">
        INSERT INTO `article_tag` (`tag_name`) VALUES (#{tagName})
    </insert>
    <select id="getById"  resultMap="TagMap">
        SELECT * FROM `article_tag` a WHERE `id` = #{_parameter}
    </select>
    <update id="delete">
        UPDATE `article_tag` SET `status` = 1
        where `id` = #{_parameter}
    </update>
</mapper>