<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yannyao.blog.mapper.TRArticleClassMapper">
    <resultMap id="TRClassMap" type="com.yannyao.blog.bean.TRArticleClass">
        <id column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="class_id" property="classId"/>
    </resultMap>
    <select id="getList"  resultMap="TRClassMap">
        SELECT * FROM `article_article_class` a
    </select>
    <select id="getById"  resultMap="TRClassMap">
        SELECT * FROM `article_article_class` a WHERE `id` = #{_parameter}
    </select>
    <insert id="insert" parameterType="com.yannyao.blog.bean.TRArticleClass">
        INSERT INTO `article_article_class` (`article_id`,`class_id`) VALUES (#{articleId},#{classId})
    </insert>
    <delete id="delete">
        DELETE FROM `article_article_class`
        where `id` = #{_parameter}
    </delete>
</mapper>